.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
tmp
log
test
config/deploy
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/
.env.*
db/*.sqlite
docker-compose.yml
.idea
.coveralls.yml
.rubocop*.yml
.ruby-gemset
.ruby-version
.dockerignore
README.md