<div class="container animated flipInX" style="display:flex; justify-content: center; align-items: center; height: 87vh; opacity: 0.9">
  <div class = "card" style = "background-color: black; width: auto; padding: 60px"><br/>
	<h1 style="color: white; text-align: center;">Application Portfolio</h1><br><hr style="background-color: white">
	    <div class="about-paras text-left">
	        <p class="px-4">Application Portfolio is a portfolio that manages the applications that are available, under development, in design, decomissioned.</p>
	        <p class="px-4"> Application Portfolio is developed using <a href="https://rubyonrails.org/" target="_blank" style="color: red">Ruby on Rails</a> platform by the Application Development Team. Contact <a href="<%= contact_path %>" style="color: red">Application Development</a> team for more information. </p>
	    </div>
	    <br/>
	    <p class="text-center">Deployed on <%= Time.new.strftime("%Y-%m-%d %H:%M:%S") %></p><br/>
	</div>
</div>