<div class="container animated zoomIn" style="display:flex; justify-content: center; align-items: center; height: 87vh; opacity: 0.9;">
	<div class="row p-5" style="background-color: black; border-radius: 5px">
		<div class="col-md-6 my-auto">
		    <h2><u>Office Address</u></h2>
		    <p>2911 Woodside Drive, University of Cincinnati, Langsam Library, Cincinnati, OH 45221</p>
		    <h4><u>Phone</u></h4>
		    <p>(513) 556-1424</p>
		    <h4><u>Contact via Email</u></h4>
		    <p></p>
		    <div class="chip float-left mx-5">
		    	<a href="mailto:changm3@ucmail.uc.edu?subject=ApplicationPortfolio Query" style="color: black"><%= image_tag("contact_female.png", width:'96px', height: '96px') %>May Chang</a>
			</div>
		    <div class="chip float-left">
		    	<a href="mailto:hortongn@ucmail.uc.edu?subject=ApplicationPortfolio Query" style="color: black"><%= image_tag("contact_male.png", width:'96px', height: '96px') %>Glen Horton</a>
			</div>
			<div class="chip float-left mt-4" style="margin-left: 16px;">
		    	<a href="mailto:scherztc@ucmail.uc.edu?subject=ApplicationPortfolio Query" style="color: black"><%= image_tag("contact_male.png", width:'96px', height: '96px') %>Thomas Scherz</a>
			</div>
			<div class="chip float-left mt-4" style="margin-left: 47px;">
		    	<a href="mailto:crowesn@ucmail.uc.edu?subject=ApplicationPortfolio Query" style="color: black"><%= image_tag("contact_male.png", width:'96px', height: '96px') %>Sean  Crowe</a>
			</div>
		  </div>
		<div class="col-md-6 my-auto">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3094.7936535440504!2d-84.51790398464263!3d39.13392677953487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841b2930b965d73%3A0x71ed76352499c7bb!2sLangsam%20Library!5e0!3m2!1sen!2sus!4v1575498145582!5m2!1sen!2sus" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		</div>
	</div>
</div>