<html>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                <div class="welcome-block">
                <h1 class="display-4" style="color: white">Welcome to Application Portfolio !</h1>
                <p class="lead" style="color: white">A Portfolio that displays the draft, on-going projects in UC Libraries</p>
                <p class="lead">
                    <% if current_user %>
                        <p style="color: white">Logged in as <%= current_user.email %></p>
                        <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "btn btn-dark btn-lg action-btn mx-auto"%>
                    <% else %>
                        <%= link_to "Login", new_user_session_path, {:class => "btn btn-dark btn-lg mx-auto action-btn"} %>
                        <%=link_to "Sign up", new_user_registration_path, {:class => "btn btn-dark btn-lg mx-auto action-btn"} %>
                    <% end %>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
</html>
