<div class="container text-center animated rollIn" style="display:flex; justify-content: center; align-items: center; height: 85vh; opacity: 0.9">
  <div class = "card px-5" style = "background-color: black; width: auto;"><br/>
	<h1 style="color: white; text-align: center;">Welcome to UCL Application Portfolio, <%= current_user.first_name %> !</h1><br>
	<hr style="background-color: white">
	<em style="color: white font-size: 14px">A Portfolio that displays the draft, on-going projects in UC Libraries</em>
	 <p class="lead">
	 	<p style="color: white">Logged in as <%= current_user.email %></p><br/>
	 	<%= link_to "Go to Dashboard", dashboard_path, {:class => "btn btn-dark btn-lg mx-auto action-btn"} %>
	 </p>
	</div>
</div>