<div class="footer" style="background-color: transparent; color: #778899; position: relative; bottom: 0">
  <div class="container">
	<p style="font-size: 13px; text-align: center;">All Rights Reserved &reg; 2019 | <a href="https://www.uc.edu" target="_blank" style="color: #000000">University of Cincinnati</a> &copy;.</p>
  </div>
</div>