<footer class="text-muted page-footer">
  <div class="container">
    <p class="float-right">
      <a href="#" style="font-size: 13px;">Back to top</a>
    </p>
	<p style="font-size: 16px; text-align: center">All Rights Reserved &reg; 2019 | <a href="https://www.uc.edu" target="_blank">University of Cincinnati</a> &copy;.</p>
  </div>
</footer>