<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi Admin<br><br>

	A New Software Record has been requested by <%= @name %>. Please find the link to the request below.

	<a href="https://localhost:3000/software_record/<%= @id %>">https://localhost:3000/software_record/<%= @id %></a></p><br><br>
  </body>
</html> 