$enable-responsive-font-sizes: false;

@import "bootstrap";
@import "gritter";

html,
body {
  height: 100%;
  background-color: #D3D3D3;
  overflow: scroll;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.navbar {
  background-color: black;
  margin-bottom: 0;
}

.jumbotron {
  padding: 10px;
  margin-bottom: 0;
  background-color: #D3D3D3;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #D3D3D3;
  margin-bottom: 66px;
}

.card {
  float: left;
  width: 25.333%;
  padding: .75rem;
  margin-left: 70px;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 18px;
  position: fixed;
  margin-top: 10px;
}

footer p {
  margin-bottom: .25rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-size: 14px;
  color: white;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 20px;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.badge-pill {
  padding: 10px;
  font-size: 15px;
}

.form-control {
  color: black;
}

option {
  padding: 0 24px;
}

.gritter {
  right: -10px;
  top: 70px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color:#E6E0E0;
  transition: 0.3s;
  display: block;
  text-align: left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 45px;
}

#main {
  display: flex; /* Flexbox for layout management */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  position: relative; /* For context for absolutely positioned children like the footer */
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#pillSideNav span {
  position: absolute;
  left: -117px;
  top: 100px;
  transition: 0.3s;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 19px;
  color: black;
  text-align: right;
  border-radius: 0 5px 5px 0;
}

#pillSideNav span:hover {
  left: 0;
  cursor: pointer;
  text-align: center;
}

#pillSideNav #dashboard-open {
  background-color: #FFFAFA;
}

.software-records-table {
  font-size: 13px;
  th {
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .btn-icons {
    font-size: 12px;
  }
}

@media screen and (min-width: 1480px) {
  .software-records-table {
    font-size: 16px;
    width: 100%;
    word-break: initial;
  }
  .table th {
    font-size: 16px;
  }

  a.action-btn {
    font-size: 16px;
  }

  .btn-icons {
    font-size: 12px;
  }
}

.table th {
  font-size: 14px;
}

.table {
  margin: auto;
  color: white;
  width: 100% !important;
  background-color: transparent;
  border-radius: 5px;
}

.table td, .table th {
  vertical-align: top !important;
  border-top: none;
}

.table tr {
  &:hover {
    background-color: #202020;
  }
}

.th-link {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -20px;
  font-size: 14px;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: white;
  background-color: green;
  border-radius: 10px;
}

.drop:hover .dropdown-content {
  display: block;
}

.drop:hover{
  cursor: pointer;
}

.drop-btn {
  color: rgba(255, 255, 255, 0.5) !important;
}

.drop:hover .drop-btn {
  color: white !important;
}

.drop:hover .nav-link {
  border-bottom-color: #fff !important;
}

.card-detail {
  border: 0;
  border-radius: 5px;
  padding: .75rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

dt{
  color: red;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:peachpuff;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-container a{
  font-size: 15px;
  text-align: right;
}

.dropdown-container{
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.active {
  background-color: #E00122;
  color: white;
}

// style tabbed form
div.active.tab-pane {
  background-color: #000;
}

#btnAddDepartments:hover {
  cursor: pointer;
  .fa-plus {
    color: red;
  }
}

#btnAddProductOwners:hover {
  cursor: pointer;
  .fa-plus {
    color: red;
  }
}

#btnAddAdminUsers:hover {
  cursor: pointer;
  .fa-plus {
    color: red;
  }
}

#btnAddTechLeads:hover {
  cursor: pointer;
  .fa-plus {
    color: red;
  }
}

#btnAddDevelopers:hover {
  cursor: pointer;
  .fa-plus {
    color: red;
  }
}

.remove:hover {
  cursor: pointer;
  color: red;
}

.action-btn {
  font-size: 12px;
}

.clear-filters:hover {
  background-color: #E00122;
}

input[type="radio"]:checked {
  color: #E00122;
}

.design-data:hover {
  .design-title {
    color: #04446c;
  }
}

.prod-data:hover {
  .prod-title {
    color: #04446c; 
  }
}

.auth-role {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  border: none;
  background-color: #E00122;
  width: 100%;
  text-align: left;
  outline: none;
}

a.anchor-underline:hover {
  text-decoration: underline !important;
}

#SoftwareRecordsTabContent {
  margin-top: 20px;
}
